.iGo {
    /* iGo Cascading Styles */
    /* Background */
    background-color: white;

    /* Display */
    width: 45mm;
    height: 45mm;
    overflow: hidden;

    /* Text */
    text-align: center;
}

.App-logo {
    /* App Logo Style */
    /* Animation */
    animation: App-logo-spin infinite 20s linear;
    pointer-events: bounding-box;
}

.App-logo:focus {
    /* Remove blue border onClick */
    outline: none;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Button-container {
    display: flex;
    flex-direction: column;
}

.Button-container button {
    padding-top: 50%;
    padding-bottom: 50%;
}

.iGo-InitialScreen h1{
    margin-bottom: 0;
    margin-top: 0;
}

.iGo-InitialScreen a{
    color: black;
    text-decoration: none;
}