.Friends {
    height: 45mm;
    overflow-y: scroll;
}

.Friends a{
    color: black;
    text-decoration: none;
}

.Friends-QR {
    height: 45mm;
}

.Friends-QR img {
    max-height: 40mm;
    max-width: 40mm;
}

.Friends-Title {
    background-color: #4267b2;
    color: white;
}

.Friends-Title a{
    color: white;
}

.Friends-Entry {
    height: 11mm;
    text-align: left;
    display: flex;
    flex-direction: row;
    border-bottom: black solid 1px;
    overflow: hidden;
}

.Friends-Entry a {
    width: 30mm;
}

.Friends-Entry img {
    width: 15mm;
}

.Profile {
    height: 45mm    ;
    overflow-y: scroll;
}

.Profile-List div {
    border-bottom: black solid 1px;
}

.Friends-Sort-Find {
    height: 40mm;
    overflow-y: scroll;
}

.Header {
    height: 5mm;
}