.Friends {
    height: 45mm;
    overflow-y: scroll;
}

.Friends a{
    color: black;
    text-decoration: none;
}

.Friends-Title {
    background-color: #4267b2;
    color: white;
}

.Friends-Title a{
    color: white;
}

.Friends-Entry {
    height: 11mm;
    text-align: left;
    display: flex;
    flex-direction: row;
    border-bottom: black solid 1px;
    overflow: hidden;
}

.Friends-Entry a {
    width: 30mm;
}

.Friends-Entry img {
    width: 15mm;
}