.Notifications {
    height: 40mm;
    overflow-y: scroll;
}

.Notifications div {
    overflow: hidden;
    height: 11mm;
}

.Notifications a {
    color: black;
    text-decoration: none;
}

.Notifications-Entry {
    border: 1px solid black;
    text-align: left;
}

.Notifications-Delete {
    background-color: red;
    line-height: 100%;
}

.Notifications-Open {
    background-color: aqua;
    line-height: 100%;
}

.Notifications-Title {
    border-bottom: 3px solid black;
    height: 5mm;
}