.MainMenu ul{
   width: 45mm;
   height: 8mm;
}

.MainMenu button {
    pointer-events: none;
}

.MainMenu-Friends {
    height: 45mm;
}

.MainMenu-Events {
    height: 45mm;
}

.MainMenu-Notifications {
    height: 45mm;
}

.MainMenu-Entry {
    height: 35mm;
}

.MainMenu-Entry input {
    height:100%;
}